[submodule "bachelor/semester-6/algorithms-and-data-structures"]
	path = bachelor/semester-6/algorithms-and-data-structures
	url = git@github.com:IlleaRo/AISD.git
	branch = anton-work
[submodule "bachelor/semester-7/info-systems-software/coursework"]
	path = bachelor/semester-7/info-systems-software/coursework
	url = git@github.com:IlleaRo/POIS_coursework.git
[submodule "bachelor/semester-6/information-systems"]
	path = bachelor/semester-6/information-systems
	url = git@github.com:IlleaRo/infoSys.git
[submodule "bachelor/semester-5/computer-architecture"]
	path = bachelor/semester-5/computer-architecture
	url = git@github.com:IlleaRo/ASVT.git
[submodule "bachelor/semester-5/parallel-programming"]
	path = bachelor/semester-5/parallel-programming
	url = git@github.com:IlleaRo/parallel_programming.git
[submodule "bachelor/semester-4/programming-technologies-and-methods"]
	path = bachelor/semester-4/programming-technologies-and-methods
	url = git@github.com:IlleaRo/Rabbits-simulation.git
[submodule "bachelor/semester-3/programming"]
	path = bachelor/semester-3/programming
	url = git@github.com:IlleaRo/programming-coursework.git
[submodule "samsung-innovation-campus"]
	path = samsung-innovation-campus
	url = git@github.com:IlleaRo/Project-For-Samsung.git
