[submodule "bachelor/semester-6/algorithms-and-data-structures"]
	path = bachelor/semester-6/algorithms-and-data-structures
	url = git@github.com:IlleaRo/AISD.git
	branch = anton-work
[submodule "bachelor/semester-7/info-systems-software/coursework"]
	path = bachelor/semester-7/info-systems-software/coursework
	url = git@github.com:IlleaRo/POIS_coursework.git
